[user]
	name = Matt Drover
	email = m.drover25@gmail.com
[include]
	path = .gitaliases
[core]
  pager = "delta $(if [[ $ITERM_PROFILE =~ 'light' ]]; then echo --theme=OneHalfLight; else echo --theme=OneHalfDark; fi)"
[color]
	ui = true
