[user]
  name = Matt Drover
  email = m.drover25@gmail.com
[include]
  path = .gitaliases
[includeIf "gitdir:~/gitlab/rally-legal/"]
  path = ~/gitlab/rally-legal/.gitconfig
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  theme = Nord
  features = side-by-side line-numbers
[color]
  ui = true
[commit]
  verbose = true
	gpgsign = false
[pull]
	rebase = false
